.row{
    margin: 0.25rem;
}

.col{
    background-color: cyan;
}
.col-sm{
    background-color: red;
}
.col-md{
    background-color: yellow;
}
.col-lg{
    background-color: green;
}
.col-xl{
    background-color: blue;
}
.col-xxl{
    background-color: pink;
}

