h1{
  color: red;
}

/* Esto probando los estilos */
p{
  color: blue;
  font-size: 20pt;
  color: green;
}

#primer-noticia{
  color: green;
  font-size: 12pt;
}

#segunda-noticia{
  color: darkmagenta;
}

.encabezado{
  font-size: 24pt;
  text-transform: uppercase;
}
*.warning{
  color: red;
}
.autor, .fecha, .ubicacion,h1, segunda-noticia{
  text-decoration: underline;
}
