.colores {
  color: orangered;
}

.color-hexadecimal {
  color: #bce784;
}

.color-rgb {
  color: rgb(100, 0, 200);
}

.color-rgba {
  color: rgba(10, 10, 10, 0.85);
}
.fondo {
  /* background-color: cornflowerblue; */
  background-image: url(https://i.ytimg.com/vi/NHw1j2jGUxg/maxresdefault.jpg);
  background-position: left bottom;
}

.fondo-interno {
  background-image: url("imagenes/fondo.jpeg");
  background-position: left bottom;
}

.ancho {
  background-color: #bce784;
  width: 100px;
}

.altura {
  background-color: aquamarine;
  height: 500px;
  width: 300px;
}

.tarjeta{
  border-style: solid;
  border-color: rgb(150, 150, 150);
  border-width: 1px;
  border-top: 1px;
  padding: 10px 20px;
  margin: 10px 20px 30px 40px;
}
