.padre{
  width: 400px;
  height: 400px;
  background-color: blue;
}

.hijo{
  width: 50%;
  height: 50%;
  background-color: beige;
  /* transition: all 1s; */
  transition: transform 1s ease-in 2s;
}

.padre:hover .hijo{
  /* transform: translatey(100%); */
  /* transform: translatex(100%); */  
  /* background-color: blueviolet; */
  animation: traslacion 4s ease-in-out infinite forwards alternate;
}

@keyframes traslacion{
  0%{
    background-color: browm;
    transform: translateX(0%) translateY(0%);
  }
  25%{
    transform: translateX(100%) translateY(0%);
  }
  50%{
    transform: translateX(100%) translateY(100%);
  }
  75%{
    transform: translateX(0%) translateY(100%);
  }
  100%{
    background-color: darkorange;
    transform: translateX(0%) translateY(0%);
  }
}
