body{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.btn-tooltip{
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: green;
  color: white;
  border-bottom: 2px solid darkgreen;
  cursor: pointer;
  transition: background-color 150ms;
}

.tooltip{
  position: absolute;
  /* visibility: hidden; */
  opacity: 0;
  top: -50px;
  left: -100%;
  transform: translateX(50%);
  color: #ddd;
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 150ms;

}

.btn-tooltip:hover{
  background-color: rgb(0, 100, 0);
}

.btn-tooltip:hover .tooltip{
  /* visibility: visible; */
  opacity: 1;
}

.tooltip::before{
  content: '';
  border: solid 10px transparent;
  border-top-color: #333;
  top: 40px;
  transform: translateX(-50%);
}

/* .triangulo{ */
/*   border: solid 10px transparent; */
/*   border-top-color: cyan; */
/* } */
