body{
  display: flex;
}
.contenedor{
  display: flex;
  flex-direction: column;
}
.principal{
  flex-grow: 1;
  padding: 5px;
}

@media(max-width: 640px){
  body{
    flex-direction: column-reverse;
  }
  .contenedor{
    flex-direction: row;
    justify-content: space-evenly;

  }

}
