//funciones con cadenas de texto
@use "sass:string";
@use "sass:math";
@use "sass:list";
@use "sass:selector";
@use "sass:color";

@debug "hola";
@debug string.index("Helvetica Neve", "Neve");

$string: "Helvetica";
$newString: string.insert($string, "Bold",9);

@debug $newString;
@debug string.length($newString);
@debug string.slice($newString, 5, 9);

@debug string.to-upper-case("Roboto Mono");
@debug string.to-lower-case("Roboto Mono");

@debug string.unique-id();

//Funciones con numeros
@debug math.$e;
@debug math.$pi;

@debug math.ceil(4.6);

@debug math.clamp(0, 6, 10);

@debug math.max(3,4,6,399,10,2);
@debug math.min(3,4,6,399,10,2);

@debug math.round(4.4);

//funciones con listas
$lista1: 10px, 10px, 0px, 15px;

@debug $lista1;
@debug list.append($lista1, 25px, space);

$border-custom:solid 1px #ccc;
@debug list.index($border-custom, 1px);
@debug list.index($border-custom, 2px);

@debug list.join($lista1, $border-custom, auto);
@debug list.length(list.join($lista1, $border-custom, auto));


//funcion de selectores
$selector1: "a";
$selector2: ".disable";
@debug selector.append($selector1, $selector2);

//funciones con color
$color : #e251ff;
@debug color.adjust($color, $red: -10);
$color2: rgb(176, 81 ,255, 0.5);

@debug color.complement($color);
$color-comp: #6eff51;
@debug darken($color, 20%);
$color-dark: #c300ea;
@debug lighten($color, 20%);
$color-light: #f3b7ff;
