.btn, .btn-2 {
  border: none;
  padding: 0.25 rem 0.5rem;
  color: 2b2b2b;
}
.btn:hover, .btn-2:hover {
  background-color: cyan;
  color: red;
  cursor: pointer;
}

.btn-2 {
  margin: 0.5rem;
  border-radius: 0.25rem;
}/*# sourceMappingURL=componentes.css.map */