@import url("https://fonts.googleapis.com/css2?family=Freehand&family=Source+Code+Pro:wght@300;400;500;700&display=swap");

* {
  font-family: "Source Code Pro", monospace;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 450px;
}
.buttons {
  align-self: flex-start;
  display: flex;
  gap: 20px;
}
.google-btn {
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
  align-self: flex-start;
}
.google-btn:hover {
  opacity: 0.6;
}
.google-btn picture {
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
} 
.google-btn picture img {
  width: 75%;
}
.google-btn span {
  color: white;
  font-weight: 500;
  padding: 15px;
}
.twitter-btn{
  color: #ddd;
  background-color: #eee;
  border: none;
  width: 40px;
  border-radius: 5px;
  cursor: pointer;
}
.twitter-btn:hover{
  background-color: #ddd;
}

.separator{
  display: flex;
  width: 100%;
  gap: 15px;
}
.separator hr{
  flex-grow: 1;
  border: none;
  border-top: 1px solid #ccc;
}

.separator span{
  color: #8b8b8b;
}

.section-inputs{
  display: flex;
  gap: 5px;
  width: 100%;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

label{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label span{
  font-weight: 700;
}

.section-inputs label input{
  width: 80%;
  background-color: #f3f3f4;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  font-size: 14pt;
  transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}
label input{
  width: 80%;
  background-color: #f3f3f4;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  font-size: 14pt;
  transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}

label input:hover{
  background-color: white;
  border: solid 1px #f3f3f4;
  box-shadow: 0 0 4px #eb50ff;
}
label input:focus{
  background-color: white;
  border: solid 1px #f3f3f4;
  box-shadow: 0 0 4px #eb50ff;
}

.checkbox-label{
  display: flex;
  flex-direction: row;
}
.checkbox-label input[type="checkbox"]{
  width: 20px;
}
.checkbox-label span{
  font-weight: 400;
}

.submit-btn{
  background-color: #EA4C89;
  color: white;
  font-weight: 500;
  font-size: 14pt;
  text-align: center;
  padding: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.submit-btn:hover{
  opacity: 0.75;

}
