.div1,
.div2 {
  background-color: red;
}

.span1,
.span2 {
  background-color: aquamarine;
  /* display: inline; por defecto span tiene block; */
}

.img {
  width: 50px;
  height: 50px;
  display: inline;
}
