*{
  margin: 0;
  padding: 0;
}

.imagen-principal{
  width: 100vw;
  opacity: 0.5;
}

.imagen-principal:hover{
  opacity: 1;
}

.galeria{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.imagen-galeria{
  width: 150px;
}

.imagen-galeria:hover{
  opacity: 0.3;
  cursor: pointer;
}
