.contenedor-hidden{
  margin: 10px 0px;
  background-color: bisque;
  width: 300px;
  height: 100px;
  padding: 15px;
  overflow: hidden;

}

.contenedor-scroll{
  margin: 10px 0px;
  background-color: bisque;
  background-color: bisque;
  width: 300px;
  height: 100px;
  padding: 15px;
  overflow: scroll;

}

.contenedor-visible{
  margin: 10px 0px;
  background-color: bisque;
  background-color: bisque;
  width: 300px;
  height: 100px;
  padding: 15px;
  overflow: visible;

}

.contenedor-auto{
  margin: 10px 0px;
  background-color: bisque;
  background-color: bisque;
  width: 300px;
  height: 100px;
  padding: 15px;
  overflow: auto;

}
.contenedor-scroll-x{
  margin: 10px 0px;
  background-color: bisque;
  background-color: bisque;
  width: 300px;
  height: 100px;
  padding: 15px;
  overflow-x: scroll;

}




