div {
  border: 1px solid gray;
  padding: 5px;
  margin: 5px;

}

/* posicionamiento relativo - se posiciona en relacion a la posicionamiento original */
.relative {
  position: relative;
  left: 80px;
  margin-left: 10px;
}

/* posicionamiento fijo - se posiciona en relacion a la pantalla */
.fixed {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: greenyellow;
}

.absolute {
  position: absolute;
  bottom: 30px;
  right: 0px;
}

.relative.contenedor {
  width: 300px;
  height: 400px;
  background-color: blue;
}

/* posicionamiento sticky - al hacer scroll modifica su posicionamiento relative->fixed */
.sticky{
  position: sticky;
  background-color: darksalmon;
  color: white;
  top: 0px;
  z-index: 2;

}
