*{
  padding: 0;
  margin: 0;
}

html{
  font-family: Helvetica;
  color: white;
}

.video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
}

.header{
  height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
