body{
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-modern{
  border-radius: 5px;
  color: white;
  background-color: skyblue;
  padding: 0;
  border: solid 1px transparent;
  cursor: pointer;
  transition: all 0.4s ;
}

.btn-modern:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 10px rgb(50, 200, 255);
  background-color: red;
  color: white;

}
