h1{
  color: red;
  font-size: 4rem;
}
p{
  color: black;
  font-size: 2rem;
}
/* @media all and(max-width:575px){ */
/* @media (max-width:575px){ */
/*   h1{ */
/*     color: blue; */
/*   } */

/* } */

@media (min-width: 576px){
  h1{
    color: green;
  }
}

@media (min-width: 995px){
  h1{
    color: blue;
  }
}
@media (min-height: 300px){
  p{
    color: cyan;
  }
}
@media(orientation: landscape ) and (min-width:400px){
  p{
    color: brown;
  }
}
@media (min-height: 300px),(min-width: 1100px){
  h1{
    color: darksalmon;
  }
}
