body{
  padding: 20px;
  margin: 0;

}

.escenario{
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
}
.escenario-1{
  width: 100%;
}
.escenario-2{
  width: 50%;
}
.px{
  background-color: green;
  width: 200px;
}
.porcentaje{
  background-color: red;
  width: 50%;
}
.view{
  background-color: yellow;
  width: 50vw;
}
