:root{
  --color-principal: rgb(0, 187, 285);
  --ancho-principal: 350px;
}

.titulo{
  color: var(--color-principal);

}

.footer{
  color: var(--color-principal);
}

.contenedor{
  background-color: antiquewhite;
  padding: 1rem;
  max-width: var(--ancho-principal);;
}
