@use "components";

@mixin section-display {
  width: 100%;
  max-width: 768px;
  margin: auto;
  padding: 5rem;
  padding: 3rem;
}
html {
  min-width: 100vw;
}
body {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 4rem;
  border-bottom: solid 1px #ddd;
}

.logo a img {
  max-width: 7rem;
}

.sec-home {
  display: flex;
  align-items: center;
  @include section-display();
  .home-cta {
    flex: 1;
    .cta-text {
      color: components.$color-main;
    }
    .home-title {
      width: 20rem;
      font-size: 3rem;
    }
    .home-description {
      width: 300px;
    }
    .lead-magnet {
      .input-col {
        max-width: 200px;
      }
    }
  }
}

.sec-features {
  @include section-display();
  display: flex;
  flex-direction: column;
  align-items: center;
  .intro {
    text-align: center;
    h3 {
      font-size: 1.8rem;
    }
    p {
      font-size: 0.8rem;
      color: #888;
    }
  }
  .features {
    display: flex;
    gap: 1rem;
    align-items: center;
    .text {
      max-width: 40%;
      flex: 1;
      .feature {
        display: flex;
        flex-direction: row;
        align-items: center;
        .description {
          margin-left: 1rem;
          max-width: 20rem;
          .description-title {
            font-size: 1.25rem;
          }
          .description-text {
            font-size: 1rem;
          }
        }
      }
    }
    .image {
      max-width: 20rem;
    }
  }
}

.sec-benefits {
  border-top: 1px solid #ddd;
  .intro {
    @extend .sec-features, .intro;
  }
  benefit-cards {
    width: 100%;
    padding: 2rem 2rem 2rem 2rem;
  }
}

.sec-kpis {
  background-color: components.$color-main;
  color: white;
  padding: 4rem;
  .kpi {
    display: flex;
    flex-direction: column;
    align-items: center;
    .number {
      font-size: 3.5rem;
      font-weight: 600;
    }
    .desc {
      font-size: 0.9rem;
      color: #ffffffaa;
    }
  }
}

.sec-onboarding {
  .intro {
    @extend .sec-features, .intro;
  }
  .steps {
    padding: 0 7rem 5rem 7rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .step-separator {
      flex: 1;
      border-top: 2px solid #ddd;
      margin: 0 1rem;
    }
  }
}

.sec-footer-cta {
  background-color: components.$color-footer;
  padding: 5rem;
  background-image: url("../assets/img/bg.png");
  background-repeat: no-repeat;
  background-position: 100%;

  .footer-cta {
    width: 50%;
    .cta-title {
      font-size: 2rem;
    }
    .cta-description {
      font-size: 1.1rem;
    }
  }
}

@media (max-width: 768px) {
  .sec-onboarding {
    .steps {
      flex-direction: column;
      .icon-desc{
        .title{
          text-align: center;
        }
      }
    }
  }
  .sec-footer-cta{
    background-image: none;
    .sec-footer-cta{
      width: 100%;
      text-align: center;
    }
  }

  .sec-benefits{
    .intro{
      font-size: 2rem;
    }
    .intro h3{
      font-size: 2rem;
    }

  }

}
